header {
    background-image: url(../imgFile/javascript.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: silver;
    text-shadow: 2px 2px 5px crimson;
    display: flex;
    align-items: center;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 2em;
    position: relative;
}

#logo {
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    width: 5%;
}

header div {
    width: 100%;
    text-align: center;
}

body {
    background-color: rgb(206, 205, 205);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer div {
    width: 100%;
    text-align: center;
}

footer div img {
    height: 80px;
}